@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Space+Mono&display=swap');

body {
    background-color: rgb(150, 114, 150);
    background-position: center;
    text-align: center;
    background-image: url(../assets/images/sparse_stars.jpg);
    background-position: center;
}

.header {
    background-image: url(../assets/images/solar_system.jpg);
    background-size: 70% auto;
    background-position: right;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    background-color: black;
    font-family: orbitron;
    height: 300px;
}

.header h2 {
    transform: scaleX(-1);
    float: right;
    margin-top: 10px;
    padding: 2%;
    margin-right: 20%;
    color: silver;
}

.header h1 {
    transform: scaleX(-1);
    float: left;
    padding-left: 2%;
    margin-right: 50%;
    margin-top: 20px;
    margin-bottom: 5%;
    width: 40%;
    font-size: 75px;
    color: goldenrod;
}

.header h1::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.header h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgb(24, 1, 61);
    z-index: -1;
    transition: transform .3s ease;
}

.contents {
    padding: 5%;
    font-family: space mono;
    color: silver;
}

button {
    border-radius: 10px;
    padding: 10px;
}

.ageButton {
    margin: 1%;
}

label {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
}

#userAge {
    width: 100px;
}

#previousAge {
    width: 120px;
}

#futureAge {
    width: 140px;
}

#results {
    margin: 3%;
}

#altResults {
    margin: 3%;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}